body {
  margin: 0;
  font-family: sans-serif;
  --color-the-brightest: #cfdebf;
  --color-bright: #a3b18a;
  --color-light: #588157;
  --color-dark: #3a5a40;
  --color-darkest: #344e41;
  --font-size-big: 24px;
  --font-size-middle: 20px;
  --font-size-small: 16px;
  --margin-top-of-footer: auto;
  --margin-top-and-bottom-of-main: 0;
  --button-color-delete: #fb6107;
  --button-color-edit: #f3de2c;
  --button-color-create: #7cb518;
  font-size: var(--font-size-small);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: var(--color-bright);
}

header>nav>* {
  margin-right: 20px;
}

header>nav>*:last-child {
  margin-right: 0;
}

main {
  margin: var(--margin-top-and-bottom-of-main);
}

footer {
  margin-top: var(--margin-top-of-footer);
  background-color: var(--color-darkest);
  color: white
}

.active {
  text-decoration: underline;
}

div.mainHeader {
  font-size: var(--font-size-big);
  font-weight: 700;
}

div.title {
  font-size: var(--font-size-big);
}

div.header {
  font-size: var(--font-size-middle);
  font-weight: 700;
  margin-bottom: 10px;
}

div.text {
  font-size: var(--font-size-small);
  margin-bottom: 20px;
}

div.text:last-child {
  margin-bottom: 0;
}

form {
  margin: 10px 0;
}

form>input.form_input {
  margin-bottom: 10px;
}

form>input.form_input:nth-last-child(0) {
  margin-bottom: 0;
}

form>button.form_button {
  display: block;
  margin-top: 0;
}

button.delete,
button.edit,
button.create {
  padding: 5px;
  color: white;
  border: none;
}

button.delete:hover,
button.edit:hover,
button.create:hover {
  cursor: pointer;
}

button.delete {
  background-color: var(--button-color-delete);
}

button.edit {
  background-color: var(--button-color-edit);
}

button.create {
  background-color: var(--button-color-create);
}

.comment {
  padding: 10px;
  background-color: var(--color-bright);
  margin-bottom: 10px;
}

.comment:last-child {
  margin-bottom: 0;
}

.dashboard_reaction {
  padding: 10px;
  margin: 5px;
  background-color: var(--color-the-brightest);
}